@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: rgb(177, 177, 177);
    font-family: Oswald, sans-serif;
    overflow: hidden;
  }

























































